body {
  color : black;
  background : rgb(226, 179, 245);
  margin: 0px;
  font-family: "Playfair Display", serif;
}

header{
border-bottom: solid 2px rgb(195, 0, 255);
padding: 20px;
font-size: 32px;
color: rgb(195, 0, 255);
}
section{
  background: rgb(195, 0, 255);
  padding-top: 80px;
  padding-bottom: 80px;
  display: flex;
  justify-content: center;
}

.chamada-texto{
  margin-right: 5%;
}
h1{
  font-size: 40px;
}

p{
  font-size: 20px;
}